@tailwind base;
* {
  scrollbar-width: inherit !important;
  scrollbar-color: pink, white;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 14px;
  border: 3px solid white;
}
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon-xxs {
  width: 8px;
  height: 8px;
}
.icon-xs {
  width: 12px;
  height: 12px;
}
.icon-sm {
  width: 16px;
  height: 16px;
}
.icon-lg {
  width: 24px;
  height: 24px;
}
.icon-xl {
  width: 32px;
  height: 32px;
}
.icon-2xl {
  width: 40px;
  height: 40px;
}


.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tooltipText {
  background-color: pink;
  position: absolute;
  bottom: 130%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: all .5s;
  color: #2196F3;
}

.tooltipText::after {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: pink transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
}

.tooltip:hover .tooltipText{
  opacity: 1;
  transform: translateY(-10px);
}

.badge {
  padding: 0px 10px;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.success {
  background-color: #e6ffed;
  color: #1e7b3d;
  svg {
    fill: #1e7b3d;
  }
}

.info {
  background-color: #ebf5ff;
  color: #0068d1;
  svg {
    fill: #0068d1;
  }
}

.box-container {
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px pink;
  
}
